*{
    margin: 0;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    background-color: #2b2b2b;
}

.text{
    color: #ffffff;
    font-size: 30px;
}



#randForm{
    /*
    width: 100vw;
    height: 100vh;
    */
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.input_form{
    width: 600px;
    height: 700px;
    background-color: #3f3e3e;

    display:flex;

    flex-direction:column;

    border-radius: 10px;
    box-shadow: 0 0 15px black;
}


.title{
    margin: 0 50px;
    font-size:45px;
}

.text{
    margin: 0 50px;
}

.filebox{
    margin: 0 50px;
}

hr{
    size: 10px;
    width: 83%;
    display: flex;
}

.numBox{
    width:37.5rem;
    height: 300px;
    font-size: 70px;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.text{
    color: white;
    font-size: 15px;
}

.number{
    display: flex;
    justify-content:center;
}

.input_number{
    width: 35vw;
    height: 10vh;
    font-size: 30px;
    border: black 1px solid;
    display: flex;
    text-align: center;

}

.DrawBtn{
    margin: 20px;
    width: 100px;
    height: 50px;
}

.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 60%;
    color: #999999;
}

.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 21px;
    margin-left: 10px;

}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.winner_insta{
    cursor: pointer;
}