*{
    margin: 0;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    background-color: #2b2b2b;
}

.text{
    color: #ffffff;
    font-size: 30px;
    padding:  5px;
}



#randForm{
    /*
    width: 100vw;
    height: 100vh;
    */
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.input_form{
    width: 600px;
    height: 700px;
    background-color: white;

    display:flex;

    flex-direction:column;

    border-radius: 10px;
    box-shadow: 0 0 15px black;
}


.title{
    margin: 0 50px;
    font-size:45px;
}

.text{
    margin: 0 50px;
}


hr{
    size: 10px;
    width: 83%;
    display: flex;
    border: 1px solid black;
}

.numBox{
    width:37.5rem;
    height: 300px;
    font-size: 60px;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

}

.text{
    color: black;
    font-size: 15px;
    box-shadow:  0 0px black;
}

.number{
    display: flex;
    justify-content:center;
}

.input_number{
    width: 35vw;
    height: 10vh;
    font-size: 30px;
    border: black 1px solid;
    display: flex;
    text-align: center;
}


.filebox{
    line-height: 10px;
    height: 40px;
    vertical-align: center;
    border: 2px solid black;
    border-radius: 10px;
    float: right;
    margin: 0 0 0 50px;
    position: relative;
    float: left;

}

.DrawBtn{
    margin: 0 0 0px 75px;
    font-size: 17px;
    height: 45px;
    width: 80px;
    border-radius: 10px;
    position: relative;
    bottom: 0px;
    cursor: pointer;
    background-color: white;
}

.filebox .upload-name {
    display: inline-block;
    height: 38px;
    width: 60%;
    color: #999999;
    font-size: 17px;
    border: none;

}

.filebox label {
    display: inline-block;
    padding: 15px 10px;
    position: relative;
    bottom: 3px;
    color: black;
    vertical-align: middle;
    cursor: pointer;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    float: right;
}

.vl{
    border-left: 2px solid #857f7f;
    height: 30px;
    position: absolute;
    left: 22%;
    bottom: 4px;
}



input:focus{
    outline: none;
}

.WinnerImp{
    margin: 10px 50px;
    font-size: 22px;

}

.winnerImp_div{
    margin: 20px 0px;
}

#winner_insta{
    width: 400px;
}


.DrawBox{
    position: relative;
    top: 40px;
}

.Shoeprize_logo{
    position: relative;
    bottom: 200px;
    width: 100px;
    height: auto;
}